<div class="cover container">
    <div class="cover-content">
        {{#if @site.icon}}
        <div class="cover-icon">
            <img class="cover-icon-image lazyload"
            data-srcset="/cdn-cgi/image/fit=scale-down,width=30,format=auto/{{@site.icon}} 30w,
/cdn-cgi/image/fit=scale-down,width=100,format=auto/{{@site.icon}} 100w,
/cdn-cgi/image/fit=scale-down,width=300,format=auto/{{@site.icon}} 300w,
/cdn-cgi/image/fit=scale-down,width=600,format=auto/{{@site.icon}} 600w,
/cdn-cgi/image/fit=scale-down,width=1000,format=auto/{{@site.icon}} 1000w,
/cdn-cgi/image/fit=scale-down,width=2000,format=auto/{{@site.icon}} 2000w" data-sizes="auto"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            src="{{@site.icon}}" alt="{{@site.title}}">
        </div>
        {{/if}}

        {{#if @site.description}}
        <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        {{#unless @member}}
        <div class="cover-cta">
            <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
            <button class="button button-secondary members-login" data-portal="signin">Login</button>
        </div>
        {{/unless}}
    </div>
</div>