<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/main.css"}}">
    <link rel="preload" href="{{asset "built/main.js"}}" as="script">
    <link rel="preload" href="https://js.stripe.com/v3/" as="script">
    <link rel="preconnect" href="https://m.stripe.network">
    <link rel="preconnect" href="https://m.stripe.com">

    <script>
        var siteUrl = '{{@site.url}}';

        var localTheme = localStorage.getItem('dawn_theme');
        switch (localTheme) {
            case 'dark':
                document.documentElement.classList.add('theme-dark');
                break;
            case 'light':
                document.documentElement.classList.add('theme-light');
                break;
            default:
                break;
        }
    </script>

    <link rel="manifest" href="{{asset "manifest.webmanifest" }}">
    <meta name="theme-color" content="#b946af">

    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}}">
    {{> icons}}

    <div class="site">
        {{> header}}
        {{#is "home"}}
        {{> cover}}
        {{> featured}}
        {{/is}}
        <div class="site-content">
            {{{body}}}
        </div>
        {{> footer}}
        {{> modal}}
        {{> pswp}}
    </div>

    <script>
        const imgs = Array.from(document.querySelectorAll('img:not([srcset])'));
        for (const img of imgs) {
            const src = img.src;
            const srcset = `
                /cdn-cgi/image/fit=scale-down,width=30,format=auto/${src} 30w,
                /cdn-cgi/image/fit=scale-down,width=100,format=auto/${src} 100w,
                /cdn-cgi/image/fit=scale-down,width=300,format=auto/${src} 300w,
                /cdn-cgi/image/fit=scale-down,width=600,format=auto/${src} 600w,
                /cdn-cgi/image/fit=scale-down,width=1000,format=auto/${src} 1000w,
                /cdn-cgi/image/fit=scale-down,width=2000,format=auto/${src} 2000w
            `;
            img.dataset.srcset = srcset;
            img.dataset.sizes = 'auto';
            img.src = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==';
            img.classList.add('lazyload');
        }
    </script>
    <script src="{{asset "built/main.js"}}"></script>

    {{ghost_foot}}
</body>

</html>