{{!< default}} <div class="content-area">
    <main class="site-main">
        {{#tag}}
        <section class="tag">
            <div class="container medium">
                <h1 class="tag-name">{{name}}</h1>
                {{#if description}}
                <div class="tag-description">{{description}}</div>
                {{/if}}
                {{#get "tags" limit="all" filter="id:-{{id}}+visibility:public" as |tags|}}
                {{#if tags}}
                <div class="tag-list">
                    <span class="tag-list-label">More:</span>
                    {{#foreach tags}}
                    <a class="tag-list-item" href="{{url}}">{{name}}</a>
                    {{/foreach}}
                </div>
                {{/if}}
                {{/get}}
            </div>
            {{#if feature_image}}
            <div class="container">
                <div class="tag-media u-placeholder horizontal">
                    <img class="u-object-fit" data-srcset="/cdn-cgi/image/fit=crop,gravity=auto,width=30,height=11,format=auto/{{img_url feature_image}} 30w,
/cdn-cgi/image/fit=crop,gravity=auto,width=100,height=35,format=auto/{{img_url feature_image}} 100w,
/cdn-cgi/image/fit=crop,gravity=auto,width=300,height=105,format=auto/{{img_url feature_image}} 300w,
/cdn-cgi/image/fit=crop,gravity=auto,width=600,height=210,format=auto/{{img_url feature_image}} 600w,
/cdn-cgi/image/fit=crop,gravity=auto,width=1000,height=350,format=auto/{{img_url feature_image}} 1000w,
/cdn-cgi/image/fit=crop,gravity=auto,width=2000,height=700,format=auto/{{img_url feature_image}} 2000w"
                        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-sizes="auto" alt="{{name}}">
                </div>
            </div>
            {{/if}}
        </section>
        {{/tag}}
        <div class="post-feed container medium">
            {{#foreach posts}}
            {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
    </div>